
body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
    min-width: 400px;
}

html {
    touch-action: manipulation;
    background-image: url('https://wallpapercave.com/wp/ARBuPnm.jpg');
    background-size: cover;
    background-repeat: repeat-y;    
}

body {
    background-image: url('https://wallpapercave.com/wp/ARBuPnm.jpg');
    background-size: cover;
    background-repeat: repeat-y;    
    overflow: hidden;
    display: block;
    padding-top: 85px;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  
.all {
    margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-align-content: center;
	align-content: center;    
}

#outerCircle {
    background-color: #303133;
    border: 3px solid #2b2b2b;
    width: 550px;
    height: 550px;
    border-radius: 50%;
}
  
  
#middleRing {
    background-color: #303133;
    width: 310px;
    height: 310px;
    border-radius: 50%;
    z-index: 75;
    position: absolute;
}
  
  #innerCircle {
      -webkit-flex-flow: column nowrap;
      -moz-flex-flow: column nowrap;
      flex-flow: column nowrap;      
      position: absolute;
      background-color: #ffeded;
      border: 2px solid grey;
      width: 275px;
      height: 275px;
      border-radius: 50%;
      z-index: 100;
    }

  #buttonOuterCircle {
    -webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	flex-flow: column nowrap;

    position: absolute;
    background-color: transparent;
    border: 19px solid #303133;
    width: 556px;
    height: 556px;
    border-radius: 50%;
    z-index: 101;    
    pointer-events: none;
  }
  
  #buttonCrossbarX {
    -webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	flex-flow: column nowrap;
    position: absolute;
    background-color: #303133;
    width: 545px;
    height: 17.5px;
    z-index: 100;
  }

  #buttonCrossbarY {
    -webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	flex-flow: column nowrap;
    position: absolute;
    background-color: #303133;
    width: 17.5px;
    height: 545px;
    z-index: 100;
  }

  .button {
    width: 275px; 
    height: 275px;
    z-index: 50;
    position: absolute !important;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
  }
  
  #greenBtn {
    border-radius: 275px 0 0 0;
    background-color: #008C00;
    /* margin-top: -275px;
    margin-left: -275px; */
    transform: translate(-50%,-50%);

    /* top: 100px;
    left: 450px;     */
  }
  
  .greenClicked {
    transition-duration: 0.1s;
    background-color: #00D900;
  }
  
  .greenUnclicked {
      transition-duration: .5s;
      background-color: #008C00;
  }
  
  #redBtn {
      border-radius: 0 275px 0 0;
      background-color: #8C0000;	
      /* margin-top: -275px;
      margin-left: 275px; */
      transform: translate(50%,-50%);
  }
  
  #yellowBtn {
      border-radius: 0 0 0 275px;
      background-color: #8C8C00;	
      /* margin-top: 275px;
      margin-left: -275px;	 */
      transform: translate(-50%,50%);
  }
  
  
  #blueBtn {
      border-radius: 0 0 275px 0;
      background-color: #0000B2;	
      /* margin-top: 275px;
      margin-left: 275px; */
      transform: translate(50%,50%);
  }
  
  
  #simonText {	
    -webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	flex-flow: row nowrap;	
      font-size: 75px;
      font-family: Helvetica;
      font-style: oblique;
      margin-bottom: -20px;
  }
  
  #counterStartStrictContainer {	
    -webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	flex-flow: row nowrap;	
      -webkit-align-items: flex-end !important;
      align-items:flex-end !important;    
  }
  
  
  #counterContainer,#startContainer,#strictContainer {	
    -webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	flex-flow: column nowrap;	
      padding: 10px 10px 10px 10px;
  }
  
  #onOffContainer,#offText,#onOffButton,#onText {
    -webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	flex-flow: row nowrap;	
  }
  
  
  #counterDisplay {
      background-color: #38120f;
      border: 1px solid grey;
      width: 60px;
      height: 42px;
      border-radius: 20%;
  /* 	align-items: center; */
  }
  
  #count {
      color:red;
      font-size: 22.5px;
      font-family: "Courier New";
      align-self: flex-end;
  }
  
  #startButton {
      background-color: red;
      border: 2.5px solid grey;
      width: 25px;
      height: 25px;
      border-radius: 50%;
  }
  
  
  #counterDisplay, #counterText, #startButton, #startText, #strictInd,#strictButton, #strictText {
      margin-top: 2px;
      margin-bottom: 2px;
  }
  
  
  #strictInd {
      background-color: #38120f;
      border: 2px solid black;
      width: 10.5px;
      height: 10.5px;
      border-radius: 50%;
  }
  
  
  #strictButton {
      background-color: yellow;
      border: 2.5px solid grey;
      width: 25px;
      height: 25px;
      border-radius: 50%;
  }
  
  
  #offText, #onOffButton, #onText {
      margin-left: 4px;
      margin-right: 4px;
  }
  
  
  #onOffButton {
      background-color: #303133;
      width: 50px;
      height: 20px;
      justify-content: flex-start ;
  }
  
  
  #onPos,#offPos {
      background-color: #6473e5;
      width: 19.5px;
      height: 18.5px;
  }
  
  #onPos {
      display: none;	
  }
  
  #offPos {
      display: inline;
  }